// button.scss
@import './main.scss';


.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff; /* Cambia el color de fondo según tu preferencia */
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.button:active {
    transform: translateY(1px); /* Efecto de presionar el botón */
}
