/* fieldset.scss */
@import './main.scss';


fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Otros estilos comunes para fieldset según sea necesario */

  